extends layout

block content
  div
    for name in participants
      div Игрок #{name} дарит подарок игроку #{assignment[name]}
  div.topmargin
    for name in participants
      div Игрок #{name} пожелал(а): #{wishes[name]}
  a(href="/") Вернуться на главную
