extends layout

block content
  h1= title
  form(action="/result" method="post")
    label(for="participants") Выберите свое имя из списка
    select.participants(name="name" id="participants")
      for name in participants
        option= name
    input(type="submit")
