extends layout

block content
  div
    each assignment in assignments
      div Игрок #{assignment.name} дарит подарок игроку #{assignment.assignee}
  div.topmargin
    for name in participants
      div Игрок #{name} пожелал(а): #{wishes[name]}
  a(href="/") Вернуться на главную
